.header {
  height: auto;
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 15px rgba(50, 50, 93, 0.5);
  position: relative;
  z-index: 3;
  @media (max-width: 640px){
    padding: 5px 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-social {
    height: inherit;
    display: none;
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
}
