.page-home {
  background-image: url('../images/home.svg');
  background-repeat: no-repeat;
  background-size: contain;
  @media (max-width:640px){
    background-position-y: 120px;
  }
  @media (min-width:641px) and (max-width:1024px){
    background-position-y: 100px;
  }
}
